version: '3.8'

services:
  api-gateway:
    build:
      context: .
      dockerfile: cmd/api-gateway/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - REDIS_ADDR=redis:6379
      - HTTP_PORT=8080
      - JWT_SECRET=super-secret-key
      - USER_SERVICE_URL=http://mock-service:8081
      - ORDER_SERVICE_URL=http://mock-service:8082
      - PRODUCT_SERVICE_URL=http://mock-service:8083
      - RECOMMENDATION_SERVICE_URL=http://mock-service:8084
    depends_on:
      - redis
    networks:
      - bff-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - bff-network

  prometheus:
    image: prom/prometheus
    volumes:
      - ./deploy/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - bff-network

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - bff-network

  mock-service:
    image: rodolpheche/wiremock
    command: ["--verbose"]
    ports:
      - "8081:8080"
      - "8082:8080"
    networks:
      - bff-network

networks:
  bff-network:
    driver: bridge